---
import data from "../data/work.json"
const briefCaseIcon =
	'<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16"> <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5m1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0M1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5"/> </svg>'
const calendarIcon =
	'<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-week" viewBox="0 0 16 16"> <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/> <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/> </svg>'
---

<section id="work" class="row work hasBorders">
	<div class="container workContainer">
		{
			data.map((item) => (
				<div class="workItem">
					<div class="workItemHeader">
						<div class="heading">
							<h2>Work</h2>
						</div>
						<div class="heading workItemHeading">
							<h3>{item.title}</h3>
							<div class="workMetaItems">
								<div class="workMetaItem">
									<div class="icon" set:html={briefCaseIcon} />
									<span>{item.company}</span>
								</div>
								<div class="workMetaItem">
									<div class="icon" set:html={calendarIcon} />
									<span>
										{item.startDate} - {item.endDate}
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="workItemContent">
						<div class="workItemDescription">
							<h3>Description</h3>
							{item.description.map((description: string) => (
								<p>{description}</p>
							))}
						</div>
						<div class="workItemCols">
							<div class="workItemCol">
								<div class="workItemColHeader">
									<h3>Skills</h3>
								</div>
								<ul>
									{item.skills.map((skill: string) => (
										<li>{skill}</li>
									))}
								</ul>
							</div>
							<div class="stackedWorkItemCols">
								<div class="workItemCol">
									<div class="workItemColHeader">
										<h3>Tools</h3>
									</div>
									<ul>
										{item.tools.map((tool: string) => (
											<li>{tool}</li>
										))}
									</ul>
								</div>
								<div class="workItemCol">
									<div class="workItemColHeader">
										<h3>Infrastructure</h3>
									</div>
									<ul>
										{item.infrastructure.map((infrastructure: string) => (
											<li>{infrastructure}</li>
										))}
									</ul>
								</div>
							</div>
							<div class="workItemCol">
								<div class="workItemColHeader">
									<h3>Soft Skills</h3>
								</div>
								<ul>
									{item["soft-skills"].map((skill: string) => (
										<li class="skill">{skill}</li>
									))}
								</ul>
							</div>
							<div class="workItemCol">
								<div class="workItemColHeader">
									<h3>Key Responsibilities</h3>
								</div>
								<ul>
									{item["key-responsibilities"].map((responsibility: string) => (
										<li>{responsibility}</li>
									))}
								</ul>
							</div>
							<div class="workItemCol">
								<div class="workItemColHeader">
									<h3>Key Achievements</h3>
								</div>
								<ul>
									{item["key-achievements"].map((achievement: string) => (
										<li>{achievement}</li>
									))}
								</ul>
							</div>
						</div>
					</div>
				</div>
			))
		}
	</div>
</section>
